MoveControllerTest/obj/
MoveProxyServer/obj/
MoveController/obj/
MoveControllerTest/bin/
.CWrapper/Release/
.CWrapper/Debug/
.MoveFramework/Debug/
.MoveFramework/Release/
*.opensdf
*.sdf
.CalibrationTool/obj/
.MovePingPong/obj/
MoveProxyServer/bin/Debug/
